<h1>Choose which book/poem you want to add to your favorites</h1>

<form action="/books" method="POST">

<% @books.map do |book| %>
    <%= book.title %>
    <input type="checkbox" name="title" value="<%= book.title %>"><br> 
    <br>
<% end %>

<input type="submit" value="Add to favorites">
</form>