<div class="container">
  <h1>BookShare</h1>
  <div class="col-md-8 col-md-offset-2">
    <h2>Where readers can share their love of literature.</h2>

    <div class="content">
      <p>Welcome to BookShare! This is a place where bookworms can add books to their favorites list. Try to contain your excitement.</p><br>
      
      <a href="/login">Log In</a> or <a href="/signup">Sign Up</a>

    </div>
    
  </div>
</div>
